.App {
  text-align: center;
  display: flex;
  width: 100vw;
  min-height: 100vh;
  justify-content: center;
  padding-top: 2em;
  background-color: #f0f0f0;
}

.title {
  font-size: 2rem;
  margin-top: 20px;
}
